$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "compass/reset";
@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
// Variables
$primary-color: #F7F7F7;
$secondary-color: #AEB2B8;
$tertiary-color: #6A6C77;
$sig-color: rgb(242, 51, 22);
$accent-color: #F5A9A9;
$cta-color: #16F2F2;
$cta2-color: #46BDBD;
$sig-color-link: white;
$sig-color-linkhover: $secondary-color;
$sig-color-opaque: rgba(242, 51, 22, 0.70);


nav {
  padding: 5px 5px;
  background-color: $sig-color-opaque;
  color: white;
  border-bottom: 1px solid #E48070;
  height: 60px;
  vertical-align: center;
  width: 100%;
  position: fixed;
  z-index: 10;

  .glyphicon {
  	font-size: 25px;
  }

  .nav-icon {
  	margin-top: 5px;
  	margin-left: 5px;
  }

  a {
  	color: $sig-color-link;

  	&:hover {
  		color: $sig-color-linkhover;
  	}
  }

  .open-menu {
  	float: left;
  	margin-left: 10px;
  }

  @media only screen and (max-width: 500px) {
  	height: 45px;
  	line-height: 30px;
  }
}

body {
    padding-bottom: 20px;
    background: $primary-color;
    font-family: 'Muli', sans-serif;
    color: $tertiary-color;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Muli', sans-serif;
    color: $tertiary-color;
}

h1 {
    font-family: 'Cantata One', serif;
}

h3,h4,h5,h6 {
	color: #776A6A;
}

a {
	color: $cta2-color;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: $sig-color;
	}
}

input	{
	border: 1px solid $primary-color;
	color: $tertiary-color; 
    // -webkit-box-shadow: 
    //   inset 0 0 8px  rgba(0,0,0,0.1),
    //         0 0 16px rgba(0,0,0,0.1); 
    // -moz-box-shadow: 
    //   inset 0 0 8px  rgba(0,0,0,0.1),
    //         0 0 16px rgba(0,0,0,0.1); 
    // box-shadow: 
    //   inset 0 0 8px  rgba(0,0,0,0.1),
    //         0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: $accent-color;
    border-radius: 20px;
    opacity: .75;
    &:focus {
    	background: white;
    	outline: none;
    	opacity: 1;
    }

    @media only screen and (max-width: 500px) {
    	padding: 0px;
    }
}

.header {
    border-bottom: 1px solid #e5e5e5;
    background-color: $sig-color;
    color: white;
    padding-top: 60px;

    @media only screen and (max-width: 500px) {
    	padding-top: 45px;
    }

    p {
    	font-size: 1.5em;
    }


    span {
        color: #FCF5F4;
        font-size: 24px;
    }

    h2 {
    	color: white;
    }

    /* Make the masthead heading the same height as the navigation */
}

.container {
	position: relative;
}

span.logo-style {
    font-family: 'Cantata One', serif;
    font-size: 40px;
}

.logo-styles {
    font-size: 30px;
}
span.font2 {
    font-family: 'Sansita One', cursive;
}
span.font4 {
    font-family: 'Cantata One', serif;
    letter-spacing: 1px;
}

// Elements specific to Styleguide structure
.nav-style-guide {
	margin-top: 20px;
	
	ul {
		border-top: 1px solid #E0E3E7;
	}

	li {
		border-bottom: 1px solid #E0E3E7;
		line-height: 30px;
		font-size: 16px;
	}


}

.style-element {
	padding: 5px;
	margin: 5px;
	text-align: center;

	.description {
		border-radius: 6px;
		background-color: white;
		padding: 5px;
		width: 80%;
		margin: auto;
	}
}

.photo-wrapper {
	padding: 5px;
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid #AEB2B8;
	box-shadow: 0px 2px 0px #6A6C77;

		img {
			width: 100%;
			border-radius: 2px;
		}
}

.color-element {
	border: 1px solid #AEB2B8;
	padding: 5px;
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: center;
	font-size: 12px;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	background-color: black;

		&.link-element {
			height: 100px;
			width: 100px;
			line-height: 20px;
			font-size: 20px;
			padding-top: 25px;
		}
}

.primary-color{
			background-color: $primary-color;
			color: $tertiary-color;
			a {
				color: $cta2-color;
				&:hover {
					color: $sig-color;
				}
			}
		}

.secondary-color {
			background-color: $secondary-color;
			color: $tertiary-color;
			a {
				color: white;
				&:hover {
					color: $sig-color;
				}
			}
		}

.tertiary-color {
			background-color: $tertiary-color;
			color: white;
			a {
				color: $cta-color;
				&:hover {
					color: white;
				}
			}
		}

.sig-color {
			background-color: $sig-color;
			color: white;
			a {
				color: white;
				text-decoration: underline;
				&:hover {
					color: $tertiary-color;
				}
			}
		}

.accent-color {
			background-color: $accent-color;
			color: $tertiary-color;
			a {
				color: $sig-color;
				&:hover {
					color: white;
				}
			}
		}

.cta-color {
			background-color: $cta-color;
			color: $tertiary-color;
			a {
				color: white;
				text-shadow: 1px 1px 1px gray;
				&:hover {
					color: $tertiary-color;
					text-shadow: none;
				}
			}
		}

.cta2-color {
			background-color: $cta2-color;
			color: white;
			a {
				color: $sig-color;
				&:hover {
					color: white;
				}
			}
		}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

