<div class="app">
    {{!-- this div.app is the component that will always be present so it includes the top nav bar --}}
    <nav>
       <a class="open-menu" href="#drawer">hamburger</a>
       <span>searchbox here   (X)</span>
       <span>[FILTER]</span>
    </nav>
   {{outlet}}
</div>

{{!-- the navigation drawer is below --}}
<nav id="drawer">
   <ul class="list">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'login'}}Log in{{/link-to}}</li>
      <li>{{#link-to 'profile'}}Profile{{/link-to}}</li>
   </ul>
</nav>