<div class="app">
    <nav>
       <a class="open-menu" href="#drawer">hamburger</a>
       <span>searchbox here   (X)</span>
       <input>
       <span>[FILTER]</span>
    </nav>
   {{outlet}}
</div>
<nav id="drawer">
   <ul class="list">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About us</a></li>
      <li><a href="/contact/">Contact</a></li>
   </ul>
</nav>