<div class="app">
    {{!-- this div.app is the component that will always be present so it includes the top nav bar --}}
    <nav>
        <div class="text-center">
           <a class="open-menu nav-icon" href="#drawer"><span class="glyphicon glyphicon-th-list"></span></a>
           <input class="input-standard">
           <a href="#" class="nav-icon"><span class="glyphicon glyphicon-filter"></span></a>
        </div>
    </nav>
   {{outlet}}
</div>

{{!-- the navigation drawer is below --}}
<nav id="drawer">
   <ul class="list">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About us</a></li>
      <li><a href="/contact/">Contact</a></li>
   </ul>
</nav>