<div class="index">
<div class="welcome">
  {{!-- this "index.hbs" is what visitors will see if they go directly to root url --}}
	<div class="welcome-line2-background">
	</div>
	<div class="container">
		<div class="welcome-copy">
			<div class="welcome-line1">
		    <span>Finding the right home can be a challenge.</span> 
			</div>
			<div class="welcome-line2 pull-right">
		    <span>Finding the right neighborhood doesn't have to be.</span>
			</div>
			<div class="welcome-line3">
		    <span>Find Your New Neighborhood.</span>
			</div>
		</div>
	</div>    
</div>
{{!-- Begin NeighborGood Intoductions Section --}}
<div class="neighborgood-intro">
	<div class="container">
		<div class="section-title">
			<h1>Welcome to the <span class="font2">NeighborGood</span> app!</h1>
		</div>
		<p>The idea for <span class="font2">NeighborGood</span> came out of the personal experience of trying to buy my first home. Finding a new place to live has two parts: the house and the neighborhood. Finding information from the internet about a particular neighborhood can be difficult. Our goal with this project was to make that process simple and fun.</p>
		</br>
		<div class="row text-center">
			<h2>Start checking out neighborhoods!</h2>
			</br>
			<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
				<img src="images/ng-cta2.png" class="img-circle">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="divider col-md-12">
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 section-title">
				<h2>Use <span class="font2">NeighborGood</span> to do your research.</h2>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p>Enter a location into the navigation bar at the top and you can view the homes in the area along with the social activity nearby. You can decide if the neighborhood is a good fit for you before even getting in your car.</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class=" col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-xs-10 col-xs-offset-1">
					<img src="images/actionshot2b.png" class="img-circle">
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="divider col-md-12">
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 section-title">
				<h2>Even on the go.</h2>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p>We created <span class="font2">NeighborGood</span> with a Mobile First approach so that you can use it on any device. Take a drive and go from neighborhood to neighborhood (virtually or in person).</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class=" col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-xs-10 col-xs-offset-1">
					<img src="images/actionshot1b.png" class="img-circle">
				</div>
			</div>
		</div> {{!-- close row --}}
		<div class="divider col-md-12">
		</div>
		<div class="row text-center">
			<h2>Heard enough? Well, get goin'!</h2>
			</br>
			<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
				<img src="images/ng-cta2.png" class="img-circle">
			</div>
		</div>

	</div> {{!-- close container --}}
</div> {{!-- close neighborgood-intro--}}
{{!-- Author Section --}}
<div class="createdby-section tertiary-color">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-title text-center">
				<h2>Made by real people.</h2>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 creator-info">
				<div class="creator-mugshot col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-xs-10 col-xs-offset-1">
					<img src="images/joshua-bio-pic-2014.jpg" class="img-circle">
				</div>
				<div class="creator-bio text-center col-md-12 col-xs-12">
					<h3>Joshua Maxwell</h3>
					<p>Joshua loves to solve problems and loves solving them beautifully. Being on a team makes it even better. </p>
					<div class="text-center">
						<p><a href="https://github.com/joshuamaxwell">GitHub</a></p>
					</div>
				</div>
			</div> {{!-- close creator-info --}}
			<div class="col-md-6 col-sm-6 col-xs-12 creator-info">
				<div class="creator-mugshot col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-xs-10 col-xs-offset-1">
					<img src="images/mug-daniel.jpg" class="img-circle">
				</div>
				<div class="creator-bio text-center col-md-12 col-xs-12">
					<h3>Daniel Donaldson</h3>
					<p>Enjoys solving UX/UI problems through better code. Especially driven toward improving communities.</p>
					<div class="text-center">
						<p><a href="https://github.com/ColorTurtle">GitHub</a></p>
					</div>
				</div>
			</div>	{{!-- close creator-info --}}
		</div>
	</div> {{!-- close container --}}
</div> {{!-- close createdby-section --}}
</div>
