<div id="map-canvas" style="height: 300px;" class="google-map"></div>

<div class="col-md-12">
	<div class="row list-box">
		<div class="col-md-6">
			<h1>Results for Greenville, SC</h1>
			<ul>
			  {{#each}}
				  {{#link-to 'property' this}}
				  	<li class="property" {{action 'saveProperty' this}}>{{address}}</li>
				  {{/link-to}}
			  {{else}}
			  <li>looks like there are no homes in your query :(</li>
			  {{/each}}
			</ul>

			<ul>
				{{#each}}
				<li class="instagrams">{{link}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>