<div class="header">
  <div class="container">
    <span class="logo-style">NeighborGood</span> <h2>Styleguide</h2>
    <p>The goal of <span class="font4">NeighborGood</span> is to help would be home buyers discover the next most important item on their list: the neighborhood. As such, it was important that as we crafted this program we created a sense of warmth &amp; discovery. It was important to allow the neighborhood's information to tell it's own story. The goal of the design was keep from getting in the way of that.</p>
    <span class="glyphicon glyphicon-home pull-right"></span>
    <span class="glyphicon glyphicon-home pull-right"></span>
    <span class="glyphicon glyphicon-home pull-right"></span>
  </div>
</div>
<div class="container">
    <div class="row">
         <div>
         		<h1>Colors</h1>
         		<div class="row">
         			<div class="style-element col-md-2">
		         		<div class="color-element primary-color">
	         			</div>
		         		<p>Primary</br> Color</p>
	         		</div>
	         		<div class="style-element col-md-2">
		         		<div class="color-element secondary-color">
		         		</div>
			         	<p>Secondary</br> Color</p>
	         		</div>
	         		<div class="style-element col-md-2">
		         		<div class="color-element tertiary-color">
		         		</div>
			         	<p>Tertiary</br> Color</p>
	         		</div>
	         		<div class="style-element col-md-2">
		         		<div class="color-element sig-color">
		         		</div>
			         	<p>Signature</br> Color</p>
	         		</div>
	         		<div class="style-element col-md-2">
		         		<div class="color-element accent-color">
		         		</div>
			         	<p>Accent</br> Color</p>
	         		</div>
	         		<div class="style-element col-md-2">
		         		<div class="color-element cta-color">
		         		</div>
			         	<p>CTA</br> Color</p>
	         		</div>
	         		<div class="style-element col-md-2">
		         		<div class="color-element cta2-color">
		         		</div>
			         	<p>CTA2</br> Color</p>
	         		</div>
         		</div>
				    <h1>Typography</h1>
				    <h1>h1. Mister Rogers</h1>
				    <h2>h2. Leave It To Beaver</h2>
				    <h3>h3. Sesame Street</h3>
				    <h4>h4. The Flinstones</h4>
				    <h5>h5. Father Knows Best</h5>
            <h1>Styling for logo</h1>
            <div class="logo-styles">
                <span class="font2">NeighborGood</span></br>
                <span class="font4">NeighborGood</span></br>
            </div>
            <h1>Buttons</h1>
            <button type="button"class="btn btn-default btn-lg">Push Me</button>
            <button type="button"class="btn btn-default active btn-lg">Active</button>
            <button type="button"class="btn btn-lg">Push Me</button>
            <button type="button"class="btn btn-lg">Push Me</button>
            <h1>Links</h1>
            <h1>Inputs</h1>
            <input>
            <input>
            <input>
            <h1>Photos</h1>
            <div class="style-element col-md-2">
	            <img src="../images/houseA1.png">
	          </div>
	          <div class="style-element col-md-2">
	            <img src="../images/houseA1.png">
	          </div>
	          <div class="style-element col-md-2">
	            <img src="../images/houseA1.png">
	          </div>
        </div>
    </div> 
</div>