<div class="header .sig-color">
  <div class="container">
    <span class="logo-style">NeighborGood</span> <h2>Styleguide</h2>
    <p>The goal of <a href="#"><span class="font2">NeighborGood</span></a> is to help would be home buyers discover the next most important item on their list: the neighborhood. As such, it was important that as we crafted this program we created a sense of warmth &amp; discovery. It was important to allow the neighborhood's information to tell it's own story. The goal of the design was to keep from getting in the way of that.</p>
    <span class="glyphicon glyphicon-home pull-right"></span>
    <span class="glyphicon glyphicon-home pull-right"></span>
    <span class="glyphicon glyphicon-home pull-right"></span>
  {{!--   <div class="style-element col-md-3 col-sm-3 col-xs-3">
    	<img src="../images/ng-headerpic1.jpg">
    </div> --}}
  </div>
</div>
<div class="container">
		<div class="row col-md-3 col-sm-3 col-xs-12 pull-left nav-style-guide">
			<ul>
				<li><a href="#">Colors</a></li>
				<li><a href="#">Typography</a></li>
				<li><a href="#">Logo</a></li>
				<li><a href="#">Buttons</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Inputs</a></li>
				<li><a href="#">Images</a></li>
			</ul>
		</div>
    <div class="row col-md-9 col-sm-9 col-xs-12 pull-right">
         <div>
         		<section><h1>Colors</h1>
         		<div class="row">
         			<div class="style-element col-md-3 col-sm-3 col-xs-5">
		         		<div class="color-element link-element primary-color">
		         			<a href="#">Link</a>
		         			<p>Non-link</p>
		         		</div>
		         		<div class="description">
			         		<h5>.primary-color</h5>
			         		<h5>#f7f7f7</h5>
		         		</div>

         			</div>
	         		<div class="style-element col-md-3 col-sm-3 col-xs-5">
	         			<div class="color-element link-element secondary-color">
		         			<a href="#">Link</a>
		         			<p>Non-link</p>
		         		</div>
		         		<div class="description">
			         		<h5>.secondary-Color</h5>
				         	<h5>#AEB2B8</h5>
		         		</div>
	         		</div>
	         		<div class="style-element col-md-3 col-sm-3 col-xs-5">
	         			<div class="color-element link-element tertiary-color">
	         				<a href="#">Link</a>
		         			<p>Non-link</p>
	         			</div>
		         		<div class="description">
				         	<h5>.tertiary-color</h5>
				         	<h5>#6A6C77</h5>
	         			</div>
	         		</div>
	         		<div class="style-element col-md-3 col-sm-3 col-xs-5">
	         			<div class="color-element link-element sig-color">
		         			<a href="#">Link</a>
		         			<p>Non-link</p>
		         		</div>
		         		<div class="description">
				         	<h5>.sig-color</h5>
				         	<h5>rgb(242, 51, 22)</h5>
	         			</div>
	         		</div>
	         		<div class="style-element col-md-3 col-sm-3 col-xs-5">
	         			<div class="color-element link-element accent-color">
		         			<a href="#">Link</a>
		         			<p>Non-link</p>
		         		</div>
		         		<div class="description">
				         	<h5>.accent-color</h5>
				         	<h5>#E48070</h5>
		         		</div>
	         		</div>
	         		<div class="style-element col-md-3 col-sm-3 col-xs-5">
	         			<div class="color-element link-element cta-color">
		         			<a href="#">Link</a>
		         			<p>Non-link</p>
		         		</div>
		         		<div class="description">
				         	<h5>.cta-color</h5>
				         	<h5>#16F2F2</h5>
		         		</div>
	         		</div>
	         		<div class="style-element col-md-3 col-sm-3 col-xs-5">
	         			<div class="color-element link-element cta2-color">
		         			<a href="#">Link</a>
		         			<p>Non-link</p>
		         		</div>
		         		<div class="description">
				         	<h5>.cta2-color</h5>
				         	<h5>#46BDBD</h5>
		         		</div>
	         		</div>
         		</div>
         		</section>
				    <div class="divider"></div>
				    <h1>Typography</h1>
				    <h1>h1. Mister Rogers</h1>
				    <h2>h2. Leave It To Beaver</h2>
				    <h3>h3. Sesame Street</h3>
				    <h4>h4. The Flinstones</h4>
				    <h5>h5. Father Knows Best</h5>
				    <p>p. Biodiesel Tumblr sartorial Echo Park chambray Tonx, literally street art mlkshk pork belly. Plaid DIY Marfa Helvetica. Hoodie YOLO swag master cleanse paleo. Forage twee kitsch keffiyeh roof party synth. High Life salvia normcore, squid try-hard quinoa narwhal fashion axe Godard you probably haven't heard of them letterpress bicycle rights. Master cleanse drinking vinegar 3 wolf moon jean shorts Godard, authentic actually disrupt small batch distillery. American Apparel tofu letterpress bespoke church-key kitsch.</p>

				    <div class="row list-box">
					    <div class="col-md-6">
					    	<h3>Unordered List</h3>
					    	<ul class="list-group">
					    		<li class="list-group-item">The Munsters</li>
					    		<li class="list-group-item">The Adams</li>
					    		<li class="list-group-item">The Cleavers</li>
					    	</ul>
					    </div>
					    <div class="col-md-6">
					    	<h3>Ordered List</h3>
					    	<ol class="list-group">
					    		<li>The Munsters</li>
					    		<li>The Adams</li>
					    		<li>The Cleavers</li>
					    	</ol>
					    </div>
			    	</div>

            <div class="divider"></div>
            <h1>Styling for logo</h1>
            <div class="logo-styles">
                <span class="font2">NeighborGood</span></br>
                <span class="font4">NeighborGood</span></br>
            </div>
            <div class="divider">
            </div>
            <h1>Buttons</h1>
            <div class="row">
	            <div class="col-md-6 col-sm-6 col-xs-6">
	            	<button type="button"class="btn-lg cta-color-btn col-md-3 btn-block">Push Me</button>
	            </div>
	            <div class="col-md-6 col-sm-6 col-xs-6">
	            	<button type="button"class="active-btn btn-lg btn-block">Active</button>
	            </div>
            </div>
            <div class="divider"></div>
            <h1>Inputs</h1>
            <input class="style-element input-lg" value="Regular Input">
            <input class="style-element input-lg input-error" value="Error status">
            <div class="divider"></div>
            <h1>Photos</h1>
            <h3>Expanded View</h3>
            <div>
	            <div class="style-element col-md-6 col-sm-6">
	            	<div class="photo-wrapper">
		            	<img src="../images/houseA1.png">
	            	</div>
		          </div>
		          <div class="style-element col-md-6 col-sm-6">
	            	<div class="photo-wrapper">
		            	<img src="../images/houseA2.png">
	            	</div>
		          </div>
	          </div>
	          <h3>Miniview</h3>
	          <div>
	            <div class="style-element col-md-3 col-sm-3 col-xs-3">
	            	<div class="photo-wrapper">
		            	<img src="../images/houseA3.png">
	            	</div>
		          </div>
		          <div class="style-element col-md-3 col-sm-3 col-xs-3">
	            	<div class="photo-wrapper">
		            	<img src="../images/houseA4.png">
	            	</div>
		          </div>
		          <div class="style-element col-md-3 col-sm-3 col-xs-3">
	            	<div class="photo-wrapper">
		            	<img src="../images/houseA5.png">
	            	</div>
	            </div>
		          <div class="style-element col-md-3 col-sm-3 col-xs-3">
	            	<div class="photo-wrapper">
		            	<img src="../images/houseA6.png">
	            	</div>
	            </div>
	          </div>
        </div>
    </div> 
</div>
